body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.firstl{
    color: #ff6348;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ff6348, #ff7f50);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
